[submodule "obs-studio"]
	path = obs-studio
	url = git@github.com:twitchalerts/obs-studio_fork.git
[submodule "obs-prebuild"]
	path = obs-prebuild
	url = git@github.com:twitchalerts/obs-studio_fork-prebuilt.git
