.vs
.vscode
test/*.js
test/*.map
test/helpers.js
*.js
*.map
*.opendb
*.db
*.sln
node-obs
node_modules
yarn-error.log
build
docs
obs-build64
dependencies2015*
distribute/obs_node.lib
distribute/obs_node.node
distribute/obs_node.pdb
distribute/simple_draw.dll
distribute/simple_draw.lib
distribute/simple_draw.pdb